<!--<div *ngIf="router.url == '/message-center'">
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-primary" (click)="navigateToComposeMessage()">Compose Message</button>
    </div>
    <app-message-list></app-message-list>
</div>-->

<div *ngIf="router.url == '/message-center'">
    <div class="card">
        <div class="card-header">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary" 
                    (click)="navigateToComposeMessage()">Compose Message</button>
            </div>
        </div>
        <div class="card-body">
            <app-message-list></app-message-list>
        </div>
    </div>
</div>
<router-outlet></router-outlet>