<div>
  <form (ngSubmit)="onSubmit()" #surveyData="ngForm">
    <div class="card">
        <h5 class="card-header">Compose Survey</h5>
      <div class="card-body">
          <div class="form-group row">
            <label for="surveyName" class="col-sm-2 col-form-label">Survey Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"
                  id="surveyName" name="surveyName" 
                  required ngModel #surveyName>
              </div>
          </div>

          <div class="form-group row">
              <label for="topic" class="col-sm-2 col-form-label">Topic</label>
              <div class="col-sm-2">
                <select id="topic" name="topic" 
                  class="btn btn-secondary dropdown-toggle" 
                  [(ngModel)]="topic" required>
                  <option [value]="topic"
                    *ngFor="let topic of topics; let i = index">{{topic}}</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="col-sm-6" *ngIf="topic === 'Other'">
                <div class="row">
                  <div class="col-sm-3">
                    <label for="newtopicInput">Topic Name :</label>
                  </div>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" 
                      id="newtopicInput" name="newtopicInput" required ngModel>
                  </div>
                </div>
              </div>

              <!--<div class="col-sm-10">
                  <input type="text" class="form-control"
                    id="topic" name="topic" 
                    required ngModel>
                </div>-->
            </div>

          <div class="form-group row">
            <label for="deliveryDateTime" class="col-sm-2 col-form-label">Delivery Date</label>
            <div class="col-sm-2">
              <select id="deliveryDateTime" name="deliveryDateTime" 
                class="btn btn-secondary dropdown-toggle" 
                [(ngModel)]="deliveryDateTime">
                <option value="Send Now">Send Now</option>
                <option value="Send Later">Send Later</option>
              </select>
            </div>
            
            <div class="col-sm-3" *ngIf="deliveryDateTime == 'Send Later'">
              <input type="date" class="form-control" id="deliveryDate" name="deliveryDate" required ngModel>
            </div>
            <div class="col-sm-2" *ngIf="deliveryDateTime == 'Send Later'">
              <input type="time" class="form-control" id="delvieryTime" name="delvieryTime" required ngModel>
            </div>
          </div>

          <div class="form-group row">
            <label for="users" class="col-sm-2 col-form-label">Users</label>
            <div class="col-sm-10">
              <select multiple class="form-control" id="users" name="users" required ngModel>
                <option *ngFor="let user of users">{{user.username}}</option>
              </select>
              <small id="users" class="form-text text-muted">Atleast one user has to be selected.</small>
            </div>
          </div>

          <hr>
          <!-- Questions container-->
          <div class="row">
            <div class="col-sm-6 border">
              <div class="questionError" *ngIf="!questionTemplateValid">
                {{error}}
              </div>
              <div class="form group row px-4 pt-4 pb-2">
                <div class="form-group">
                  <label for="surveyQuestion">Question</label>
                  <input type="text" class="form-control" style="width:500px;" 
                    id="surveyQuestion" 
                    placeholder="Enter your question" #questionInput>
                </div>
                <div class="form-group">
                  <label for="surveyQuestionType">Question Type</label>
                  <select class="form-control" id="surveyQuestionType" 
                    name="surveyQuestionType" [(ngModel)]="surveyQuestionType" 
                    (change)="onQuestionTypeChange()">
                    <option value="Text">Text</option>
                    <option value="Single Choice">Single Choice</option>
                    <option value="Multiple Choice">Multiple Choice</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="form group row px-4 pt-2 pb-4">
                <table *ngIf="surveyQuestionType != 'Text'" #optionsTable>
                  <tr *ngFor="let row of rowCount">
                    <td *ngIf="surveyQuestionType === 'Single Choice'">
                      <input type="radio" disabled>
                    </td>
                    <td *ngIf="surveyQuestionType === 'Multiple Choice'">
                        <input type="checkbox" disabled>
                    </td>
                    <td class="px-4">
                      <input type="text" class="form-control" style="width: 400px;" 
                        placeholder="Enter an answer choice">
                    </td>
                    <td>
                      <button type="button" class="addOptionButton" 
                        (click)="addNewOptionRow()">
                        <img src="/assets/plus-2x.png" alt="add option">
                      </button>
                    </td>
                    <td *ngIf="rowCount.length > 1">
                      <button type="button" class="addOptionButton" 
                        (click)="deleteNewOptionRow(row)">
                        <img src="/assets/minus-2x.png" alt="delete option">
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form group row pb-4">
                <div class="col"></div>
                <div class="col">
                    <button type="button" 
                      class="btn btn-primary"
                      (click)="addQuestion()">Add Question</button>
                </div>
              </div>
            </div>
            <!-- Questions View container -->
            <div class="col-sm-6 border">
              <div class="border bg-light p-2 m-2" *ngFor="let entry of questions">
                <div class="row">
                  <div class="col-sm-8">
                    <span class="font-weight-bold">Q: </span>{{entry.question}}
                  </div>
                  <div class="col-sm-4 text-right">
                    <button class="deleteQuestionButton" (click)="deleteQuestion(entry)">
                      <img src="/assets/trash-2x.png" alt="delete question">
                    </button>
                  </div>
                </div>
                <div *ngFor="let option of entry.options">
                  <table>
                    <tr class="px-4 pt-2">
                      <td *ngIf="entry.questionType === 'Single Choice'">
                        <input type="radio" disabled>
                      </td>
                      <td *ngIf="entry.questionType === 'Multiple Choice'">
                        <input type="checkbox" disabled>
                      </td>
                      <td class="px-3">
                        {{option.value}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            
          </div>
          <!-- Questions container-->

      </div>
      <div class="card-footer">
        <div class="col-md-12 text-right">
          <span class="mr-5">Atleast one question needs to be added to a survey.</span>
          <button type="submit"
            class="btn btn-success"
            [disabled]="questions.length==0 || !surveyData.valid">{{ deliveryDateTime == 'Send Later' ? 'Schedule Survey' : 'Send Survey' }}</button>
        </div>
      </div>
    </div>
  </form>
</div>