<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{active: activeConfig === 'general'}" 
        (click)="navigateConfiguration('general')">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{active: activeConfig === 'user'}"
         (click)="navigateConfiguration('user')">User</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <app-general-configuration *ngIf="activeConfig === 'general'"></app-general-configuration>
    <app-user-configuration *ngIf="activeConfig === 'user'"></app-user-configuration>
  </div>
</div>