<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-header>No</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
    
      <!-- Message Text Column -->
      <ng-container matColumnDef="surveyName">
          <th mat-header-cell *matHeaderCellDef mat-header>Survey Name</th>
          <td mat-cell *matCellDef="let row">{{row.surveyName}}</td>
      </ng-container>
    
      <!-- Delivery Date -->
      <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef mat-header>Delivery Date</th>
          <td mat-cell *matCellDef="let row">{{row.deliveryDateTime}}</td>
      </ng-container>
    
      <!-- Status Column -->
      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-header>Status</th>
          <td mat-cell *matCellDef="let row">{{row.surveyStatus}}</td>
      </ng-container>
    
      <!-- Action Column -->
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-header>Action</th>
          <td mat-cell *matCellDef="let row">
            <!--<button class="deleteButton" 
                [disabled]="row.surveyStatus !== 'PENDING'"
                (click)="cancelScheduledSurvey(row.id)">
                <mat-icon color="warn" 
                [ngClass]="{deleteDisabled: row.surveyStatus !== 'PENDING'}">
                delete</mat-icon>
            </button>-->
              <button type="button" class="btn btn-danger btn-sm"
              [disabled]="row.surveyStatus != 'PENDING'" 
              (click)="cancelScheduledSurvey(row.id)">Cancel</button>
              <button type="button" class="btn btn-info btn-sm mx-2"
              (click)="showSurveyDetails(row.id)">View</button>
          </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    
  <mat-paginator #paginator
      [length]="dataSource?.data?.length" 
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
  </mat-paginator>
</div>